<configuration scan="false" scanPeriod="30 seconds" debug="true">

    <property name="default_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{30}> [%X{CLOTHO_TRACE_ID}]  %msg%n"/>
    <property name="log.basedir" value="/logs/jdbc"/>
    <property name="appName" value="jdbc-demo"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{30}>  [%X{CLOTHO_TRACE_ID}] %msg%n
            </pattern>

        </encoder>
    </appender>

    <appender name="FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${log.basedir}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.basedir}/${appName}.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${default_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${log.basedir}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.basedir}/${appName}.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${default_pattern}</pattern>
        </encoder>
    </appender>



    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-INFO"/>
        <appender-ref ref="FILE-WARN"/>
    </root>

<!--    <Logger name="cn.wuliu.dal.mapper" level="INFO" />-->
</configuration>