<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jdbc.jdbcdemo.biz.mapper.UserInfoNewMapper">
    <resultMap id="BaseResultMap" type="com.example.jdbc.jdbcdemo.biz.bean.UserInfo">
        <id  column="id" property="id"></id>
        <result column="name_new" property="name"/>
        <result column="age_new" property="age" />

    </resultMap>

    <sql id="Base_Column_List" >
        id , name_new AS name,age_new AS age
    </sql>

    <select id="selectAll" resultMap="BaseResultMap" >
        select * from user_info_new
    </select>
</mapper>